# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# ! pip install gmaps
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../starter_code/Weather_Output.csv")
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,48.20,61,0,16.11,CL,2021-01-30
1,1,Hobart,-42.8794,147.3294,77.00,53,75,13.80,AU,2021-01-30
2,2,Kālol,22.6000,73.4500,59.00,82,0,4.61,IN,2021-01-30
3,3,Asău,46.4333,26.4000,34.00,74,100,1.32,RO,2021-01-30
4,4,Faanui,-16.4833,-151.7500,81.64,64,3,4.07,PF,2021-01-30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
city_locations = cities_df[["Lat", "Lng"]]
city_locations.head()

       Lat       Lng
0 -53.1500  -70.9167
1 -42.8794  147.3294
2  22.6000   73.4500
3  46.4333   26.4000
4 -16.4833 -151.7500

In [5]:
humidity = cities_df["Humidity"]
humidity.head()

0    61
1    53
2    82
3    74
4    64
Name: Humidity, dtype: int64

In [6]:
fig = gmaps.figure(map_type="HYBRID")

In [7]:
heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

In [8]:
fig.add_layer(heat_layer)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [60]:
#DF Filter for weather criteria
filter_df = cities_df.loc[(cities_df["Max Temp"] >= 78) & (cities_df["Max Temp"] < 85) & (cities_df["Wind Speed"] <= 7) & (cities_df["Cloudiness"] <= 60) & (cities_df["Cloudiness"] > 20), :]
filter_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
98,98,Kudat,6.8837,116.8477,78.80,94,40,1.14,MY,2021-01-30
110,110,Kimbe,-5.5502,150.1429,83.88,75,22,4.99,PG,2021-01-30
251,251,Coolum Beach,-26.5333,153.1000,82.99,71,54,3.00,AU,2021-01-30
300,300,Boyolangu,-8.1181,111.8935,79.63,81,40,6.89,ID,2021-01-30
356,356,Careiro da Várzea,-3.2003,-59.8119,82.40,78,40,2.30,BR,2021-01-30
413,413,Kununurra,-15.7667,128.7333,84.20,89,40,5.75,AU,2021-01-30
416,416,Agbor,6.2518,6.1934,78.93,84,47,5.84,NG,2021-01-30
517,517,Isla Mujeres,21.2311,-86.7310,79.00,78,40,6.91,MX,2021-01-30
526,526,Marabu,4.4148,114.0089,78.80,100,40,4.61,MY,2021-01-30

In [61]:
#Drop unneeded column
filter_df_clear = filter_df.drop(['Unnamed: 0'], axis = 1)
filter_df_clear

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
98,Kudat,6.8837,116.8477,78.80,94,40,1.14,MY,2021-01-30
110,Kimbe,-5.5502,150.1429,83.88,75,22,4.99,PG,2021-01-30
251,Coolum Beach,-26.5333,153.1000,82.99,71,54,3.00,AU,2021-01-30
300,Boyolangu,-8.1181,111.8935,79.63,81,40,6.89,ID,2021-01-30
356,Careiro da Várzea,-3.2003,-59.8119,82.40,78,40,2.30,BR,2021-01-30
413,Kununurra,-15.7667,128.7333,84.20,89,40,5.75,AU,2021-01-30
416,Agbor,6.2518,6.1934,78.93,84,47,5.84,NG,2021-01-30
517,Isla Mujeres,21.2311,-86.7310,79.00,78,40,6.91,MX,2021-01-30
526,Marabu,4.4148,114.0089,78.80,100,40,4.61,MY,2021-01-30

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [62]:
#Add latLong concatened column for location in search
hotel_df_coord_added = filter_df_clear
hotel_df_coord_added["lat_lng"] = hotel_df_coord_added["Lat"].astype(str) + "," + hotel_df_coord_added["Lng"].astype(str)
hotel_df_coord_added.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng
98,Kudat,6.8837,116.8477,78.80,94,40,1.14,MY,2021-01-30,"6.8837,116.8477"
110,Kimbe,-5.5502,150.1429,83.88,75,22,4.99,PG,2021-01-30,"-5.5502,150.1429"
251,Coolum Beach,-26.5333,153.1000,82.99,71,54,3.00,AU,2021-01-30,"-26.5333,153.1"
300,Boyolangu,-8.1181,111.8935,79.63,81,40,6.89,ID,2021-01-30,"-8.1181,111.8935"
356,Careiro da Várzea,-3.2003,-59.8119,82.40,78,40,2.30,BR,2021-01-30,"-3.2003,-59.8119"

In [63]:
#Define variables
target_type = "lodging"
radius = 5000
location = hotel_df_coord_added["lat_lng"]

In [64]:
location

98                6.8837,116.8477
110              -5.5502,150.1429
251                -26.5333,153.1
300              -8.1181,111.8935
356              -3.2003,-59.8119
413             -15.7667,128.7333
416                 6.2518,6.1934
517    21.2311,-86.73100000000001
526               4.4148,114.0089
Name: lat_lng, dtype: object

In [65]:
#Define paramters
params = {"types": target_type, "radius": radius, "key": g_key}

In [66]:
#Set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [67]:
#Test url/variable set up
response = requests.get(base_url, params=params)
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?types=lodging&radius=5000&key=AIzaSyD67hPNU_LSlCM-BpPNko41_ydg7SL421U

In [68]:
#Empty list for holding resulsts
hotel_name = []
all_response = []

In [69]:
#Search results for hotel matching criteria
for index, row in hotel_df_coord_added.iterrows():
    try:
        location = row["lat_lng"]
        params["location"] = location
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        response = requests.get(base_url, params=params)
        response_json = response.json()
        hotel_name.append(response_json['results'][0]['name'])
        all_response.append(response_json)
#         print(hotel_name)
#         cur = response_json['results'][0]['name']
#         print(cur)

    except KeyError:
        print(f"We can't find {place}")

In [70]:
hotel_name

['Dream Garden Hotel',
 'Kimbe Bay Hotel',
 'Palmer Coolum Resort',
 'Yos ega cv',
 'POUSADA DA ALDENORA',
 'Hotel Kununurra',
 'MIRAMAS HOTEL',
 'Hotel La Joya Isla Mujeres',
 'Mega Hotel, Miri']

In [71]:
#add hotel name as column
hotel_df_coord_added['Hotel Name'] = hotel_name
hotel_df_coord_added

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng,Hotel Name
98,Kudat,6.8837,116.8477,78.80,94,40,1.14,MY,2021-01-30,"6.8837,116.8477",Dream Garden Hotel
110,Kimbe,-5.5502,150.1429,83.88,75,22,4.99,PG,2021-01-30,"-5.5502,150.1429",Kimbe Bay Hotel
251,Coolum Beach,-26.5333,153.1000,82.99,71,54,3.00,AU,2021-01-30,"-26.5333,153.1",Palmer Coolum Resort
300,Boyolangu,-8.1181,111.8935,79.63,81,40,6.89,ID,2021-01-30,"-8.1181,111.8935",Yos ega cv
356,Careiro da Várzea,-3.2003,-59.8119,82.40,78,40,2.30,BR,2021-01-30,"-3.2003,-59.8119",POUSADA DA ALDENORA
413,Kununurra,-15.7667,128.7333,84.20,89,40,5.75,AU,2021-01-30,"-15.7667,128.7333",Hotel Kununurra
416,Agbor,6.2518,6.1934,78.93,84,47,5.84,NG,2021-01-30,"6.2518,6.1934",MIRAMAS HOTEL
517,Isla Mujeres,21.2311,-86.7310,79.00,78,40,6.91,MX,2021-01-30,"21.2311,-86.73100000000001",Hotel La Joya Isla Mujeres
526,Marabu,4.4148,114.0089,78.80,100,40,4.61,MY,2021-01-30,"4.4148,114.0089","Mega Hotel, Miri"

In [72]:
# rename_df
hotel_df = pd.DataFrame(hotel_df_coord_added)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng,Hotel Name
98,Kudat,6.8837,116.8477,78.80,94,40,1.14,MY,2021-01-30,"6.8837,116.8477",Dream Garden Hotel
110,Kimbe,-5.5502,150.1429,83.88,75,22,4.99,PG,2021-01-30,"-5.5502,150.1429",Kimbe Bay Hotel
251,Coolum Beach,-26.5333,153.1000,82.99,71,54,3.00,AU,2021-01-30,"-26.5333,153.1",Palmer Coolum Resort
300,Boyolangu,-8.1181,111.8935,79.63,81,40,6.89,ID,2021-01-30,"-8.1181,111.8935",Yos ega cv
356,Careiro da Várzea,-3.2003,-59.8119,82.40,78,40,2.30,BR,2021-01-30,"-3.2003,-59.8119",POUSADA DA ALDENORA
413,Kununurra,-15.7667,128.7333,84.20,89,40,5.75,AU,2021-01-30,"-15.7667,128.7333",Hotel Kununurra
416,Agbor,6.2518,6.1934,78.93,84,47,5.84,NG,2021-01-30,"6.2518,6.1934",MIRAMAS HOTEL
517,Isla Mujeres,21.2311,-86.7310,79.00,78,40,6.91,MX,2021-01-30,"21.2311,-86.73100000000001",Hotel La Joya Isla Mujeres
526,Marabu,4.4148,114.0089,78.80,100,40,4.61,MY,2021-01-30,"4.4148,114.0089","Mega Hotel, Miri"

In [73]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
Name: {Hotel Name}
City: {City}
Country: {Country}
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [74]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))