# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# ! pip install gmaps
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv("../starter_code/Weather_Output.csv")
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,48.20,61,0,16.11,CL,2021-01-30
1,1,Hobart,-42.8794,147.3294,77.00,53,75,13.80,AU,2021-01-30
2,2,Kālol,22.6000,73.4500,59.00,82,0,4.61,IN,2021-01-30
3,3,Asău,46.4333,26.4000,34.00,74,100,1.32,RO,2021-01-30
4,4,Faanui,-16.4833,-151.7500,81.64,64,3,4.07,PF,2021-01-30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
city_locations = cities_df[["Lat", "Lng"]]
city_locations.head()

       Lat       Lng
0 -53.1500  -70.9167
1 -42.8794  147.3294
2  22.6000   73.4500
3  46.4333   26.4000
4 -16.4833 -151.7500

In [6]:
humidity = cities_df["Humidity"]
humidity.head()

0    61
1    53
2    82
3    74
4    64
Name: Humidity, dtype: int64

In [27]:
fig = gmaps.figure(map_type="HYBRID")

In [28]:
heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

In [29]:
fig.add_layer(heat_layer)

In [30]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
#DF Filter for weather criteria
filter_df = cities_df.loc[(cities_df["Max Temp"] >= 84) & (cities_df["Max Temp"] < 85) & (cities_df["Wind Speed"] <= 7) & (cities_df["Cloudiness"] <= 60) & (cities_df["Cloudiness"] > 20), :]
filter_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
413,413,Kununurra,-15.7667,128.7333,84.2,89,40,5.75,AU,2021-01-30

In [13]:
#Drop unneeded column
filter_df_clear = filter_df.drop(['Unnamed: 0'], axis = 1)
filter_df_clear

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
413,Kununurra,-15.7667,128.7333,84.2,89,40,5.75,AU,2021-01-30

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
#Add latLong concatened column for location in search
hotel_df_coord_added = filter_df_clear
hotel_df_coord_added["lat_lng"] = hotel_df_coord_added["Lat"].astype(str) + "," + hotel_df_coord_added["Lng"].astype(str)
hotel_df_coord_added.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng
413,Kununurra,-15.7667,128.7333,84.2,89,40,5.75,AU,2021-01-30,"-15.7667,128.7333"

In [15]:
#Define variables
target_type = "lodging"
radius = 5000
location = hotel_df_coord_added["lat_lng"]

In [16]:
#Define paramters
params = {"location": location, "types": target_type, "radius": radius, "key": g_key}

In [17]:
#Set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [18]:
#Test url/variable set up
response = requests.get(base_url, params=params)
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-15.7667%2C128.7333&types=lodging&radius=5000&key=AIzaSyD67hPNU_LSlCM-BpPNko41_ydg7SL421U

In [19]:
#Empty list for holding resulsts
hotel_name = []

In [20]:
#Search results for hotel matching criteria
for index, row in hotel_df_coord_added.iterrows():
    try:
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        response = requests.get(base_url, params=params)
        response_json = response.json()
        hotel_name.append(response_json['results'][0]['name'])
        print(hotel_name)
    except KeyError:
        print(f"We can't find {place}")

['Hotel Kununurra']

In [21]:
hotel_df_coord_added['Hotel Name'] = hotel_name
hotel_df_coord_added

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng,Hotel Name
413,Kununurra,-15.7667,128.7333,84.2,89,40,5.75,AU,2021-01-30,"-15.7667,128.7333",Hotel Kununurra

In [22]:
hotel_df = pd.DataFrame(hotel_df_coord_added)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng,Hotel Name
413,Kununurra,-15.7667,128.7333,84.2,89,40,5.75,AU,2021-01-30,"-15.7667,128.7333",Hotel Kununurra

In [32]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
Name: {Hotel Name}
City: {City}
Country: {Country}
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))