# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# ! pip install gmaps
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../starter_code/Weather_Output.csv")
cities_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Savonlinna,61.8699,28.8800,24.80,93,75,3.44,FI,2021-01-30
1,1,Codrington,-38.2667,141.9667,65.07,57,0,8.46,AU,2021-01-30
2,2,Puerto Ayora,-0.7393,-90.3518,78.01,90,51,7.00,EC,2021-01-30
3,3,San Cristobal,7.7669,-72.2250,65.71,72,84,1.39,VE,2021-01-30
4,4,Guerrero Negro,27.9769,-114.0611,60.84,65,100,15.99,MX,2021-01-30

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
city_locations = cities_df[["Lat", "Lng"]]
city_locations.head()

       Lat       Lng
0  61.8699   28.8800
1 -38.2667  141.9667
2  -0.7393  -90.3518
3   7.7669  -72.2250
4  27.9769 -114.0611

In [5]:
humidity = cities_df["Humidity"]
humidity.head()

0    93
1    57
2    90
3    72
4    65
Name: Humidity, dtype: int64

In [6]:
fig = gmaps.figure(map_type="HYBRID")

In [7]:
heat_layer = gmaps.heatmap_layer(city_locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)

In [8]:
fig.add_layer(heat_layer)

In [9]:
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
#DF Filter for weather criteria
filter_df = cities_df.loc[(cities_df["Max Temp"] >= 81) & (cities_df["Max Temp"] < 85) & (cities_df["Wind Speed"] <= 7) & (cities_df["Cloudiness"] <= 60) & (cities_df["Cloudiness"] > 20), :]
filter_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
175,175,Marawi,7.9986,124.2928,81.0,80,43,1.01,PH,2021-01-30

In [11]:
#Drop unneeded column
filter_df_clear = filter_df.drop(['Unnamed: 0'], axis = 1)
filter_df_clear

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
175,Marawi,7.9986,124.2928,81.0,80,43,1.01,PH,2021-01-30

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
#Add latLong concatened column for location in search
hotel_df_coord_added = filter_df_clear
hotel_df_coord_added["lat_lng"] = hotel_df_coord_added["Lat"].astype(str) + "," + hotel_df_coord_added["Lng"].astype(str)
hotel_df_coord_added.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng
175,Marawi,7.9986,124.2928,81.0,80,43,1.01,PH,2021-01-30,"7.9986,124.2928"

In [13]:
#Define variables
target_type = "lodging"
radius = 5000
location = hotel_df_coord_added["lat_lng"]

In [14]:
#Define paramters
params = {"location": location, "types": target_type, "radius": radius, "key": g_key}

In [15]:
#Set base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [16]:
#Test url/variable set up
response = requests.get(base_url, params=params)
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=7.9986%2C124.2928&types=lodging&radius=5000&key=AIzaSyD67hPNU_LSlCM-BpPNko41_ydg7SL421U

In [17]:
#Empty list for holding resulsts
hotel_name = []

In [18]:
#Search results for hotel matching criteria
for index, row in hotel_df_coord_added.iterrows():
    try:
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        response = requests.get(base_url, params=params)
        response_json = response.json()
        hotel_name.append(response_json['results'][0]['name'])
        print(hotel_name)
    except KeyError:
        print(f"We can't find {place}")

['Derogongan Residence']

In [19]:
hotel_df_coord_added['Hotel Name'] = hotel_name
hotel_df_coord_added

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng,Hotel Name
175,Marawi,7.9986,124.2928,81.0,80,43,1.01,PH,2021-01-30,"7.9986,124.2928",Derogongan Residence

In [79]:
hotel_df = pd.DataFrame(hotel_df_coord_added)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,lat_lng,Hotel Name
175,Marawi,7.9986,124.2928,81.0,80,43,1.01,PH,2021-01-30,"7.9986,124.2928",Derogongan Residence

In [80]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
Name: {Hotel Name}
City: {City}
Country: {Country}
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [81]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))